.Medicine_box_holder {
    display: flex;
    background-color: #fff;
    margin: 20px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 200;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5),
    inset 0px 0px 1px 0px rgba(0,0,0,0.08);
    width: 23rem;
    border-radius: 5px;

    .Medicine_box_img {
        display: inline;
        padding: 10px;

        img {
            width: 22rem;
            height: 15rem;
            border-radius: 5px;
        }
    }

    .Medicine_box_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        :first-child {
            font-weight: 700;
            margin: 15px;
        }

        .Medicine_cost {
            margin-bottom: 25px;
            color: rgba(129,129,129,255);

            :first-child {
                color: rgba(116,10,11,255);
                margin-right: 10px;
            }
        }

        :nth-child(3) {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 8px;
        }

        :nth-child(4) {
            font-size: 13px;
            color: rgba(129,129,129,255);
            margin-bottom: 20px;
        }
    }

    .Medicine_box_content_footer {
        cursor: pointer;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(7,128,116,255);
        border-top: 0.2px solid rgba(209,209,209,255);;
        font-weight: 600;
        font-size: 18px;
        border-bottom: 12px solid rgba(116,10,11,255);;

        :first-child {
            margin: 7px;
        }

    }
}
